@import "../../styles/globals.scss";

.modal-header {
    padding-left: 15%;
    .modal-title {
        font-family: $font-family;
        word-break: break-all;
    }
    .x-icon {
        cursor: pointer;
    }
}

.modal-body {
    text-align: -webkit-center;
}
